body{
    background: rgb(43, 70, 70);
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; /*fuente del cuerpo*/
}
/*Titulo del header*/
.titulo{
    display: flex;
    justify-content: center;
}
/*barra de navegacion*/
.navigation{
    display: flex;
    gap: 3rem;
    list-style: none;
    justify-content: flex-end;
    margin: 0 3rem;
}
/*Enlaces de la barra de navegacion configurados como si fueran botones*/

.navigation li {
    font-size: 1rem;
    width: 100px;
    text-align: center;
    padding: 0.5rem;
    border-radius: 0.5rem;
    background: #f0eaea1a;
    box-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5)
}
/*estilo de los enlaces de la barra de navegacion*/
a {
    text-decoration: none; /*elimina el punto y la linea subrayada*/
    color: white;  /*color del txto de la pagina*/
}
.sobremi{
    display: flex;
    justify-content: center; /*Esto centra el elemento*/
}
.container-sobremi {
    display: flex;
    width: 50%; /*ancho*/
    padding: 2rem;
    margin-top: 5rem; /*margen a lo alto*/
    line-height: 2.5rem; /*espaciado entre los aprrafos del texto*/
    font-size: large; /*tamaño de la fuente*/
    color: azure; /*fuente adaptado a pantallas grandes pc*/
}
/*Celular (Pantallas peqieñas, hasta 767px)*/
@media (max-width: 767px) {
    .titulo{
        justify-content:center;
    }
    .navigation{
        flex-direction: column; /*fexcibilidad de contenido en columnas*/
        gap: 1rem; /*muestra la separacion entre columnas*/
        align-items: center;
    }
    .container-sobremi{
        width: 100%;
        padding: 1;
        margin-top: 1rem;
        line-height:2.5rem;
        font-size: small;
    }
}
/*EScritorios (Pantallas anchas , 1024px y superiores)*/
@media (main-width: 1024px) {
    .titulo{
        justify-content: flex-start;
    }
    .navigation{
        gap: 3rem;
        justify-content: flex-end;
        margin: 0 3rem;
    }
}