/* Cambia el color de fondo del cuerpo (body) */
body {
    background-color: rgb(71, 160, 189);
}

/* Estilo para los encabezados h1 */
h1 {
    color: white(246, 242, 241);
    text-align: center;
}